<property name="schemaValidation" value="true"/>
<property name="xsdURL" value="{{xsdURL}}"/>
<property name="RequestMessageBufferSize" value="1024"/>
<class name="org.wso2.carbon.apimgt.gateway.mediators.XMLSchemaValidator"/>
